*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   background-color:rgb(136, 18, 233);
}
p{
   
   font-size: 20px;
   font-weight: bold;
   margin:0;
}
a{
    text-decoration: none;
    color: #fff;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.logo{
    font-weight: bolder;
    font-size: 50px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-block-start: -20px;
    padding: 10px 3px;
    display: flex ;
    align-items: center;
    flex-wrap: nowrap;
    color: #fff;
    
}
span{
    font-size: 70px;
    font-weight: 900;
    font-style: italic;
    color: rgb(42, 10, 71);
    margin-left: 3px;
    margin-right: 15px;
    
}
.navbar ul{
    margin: 30px 20px 0 0 ;
    
}
.navbar ul li{
    list-style: none;
    position: sticky;
    display: flex;
    font-size: 25px;
    float: right;
    padding-right: 30px;
   
}
.navbar ul a li:hover{
    color: rgb(206,18,105);
    height: fit-content;
    font-weight: bolder;
    transform: scale(1.2,1);
  
}
h2{
 
    font-size: 40px;
    text-align: center;
    color: #fff;
    font-weight: bolder;
}
h2:hover{
    color: rgb(206,18,105);
   
}
.project-container{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.project-card{
    width: 300px;
    height: 520px;
 margin: 10px;
    box-shadow: 0 0 40px 10px rgb(0,0,0,26);
}
.project-card:hover{
    transform: scale(1.1,1.1);

}


.subtext
{
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: rgb(14, 2, 19);
    margin-block-start: 15px;
}
.project-image{
    width: 250px;
    border-radius: 100%;
    margin-top: 25px;
    margin-left: 20px;
   
}
h3{
    color: #fff;
    font-size: 19px;
    text-align: center;
    margin: 10px 0 10px 0
}
hr{
    margin-top: 10px;
}
#view{
    color: #fff;
    text-align: center;
}
#view:hover{
    color: rgb(206,18,105);
    font-size: 20px;
}


footer{
    font-weight: bold;
    padding: 150px 10px 0 20px;
    margin: 50px 10px 20px 20px;
}













/* Responsive design */

@media only screen and (max-width:850px) {
    .project-container{
        display: flex;
        flex-wrap: wrap;
    }
}

/* For very small device */

@media only screen and (max-width:350px) {
.logo{
       font-size: 20px;
       margin-block-start: 1px;
      
   }
   span{
       font-size: 30px;
       margin-right: 10px;
   }
   h2{
       margin-top: 20px;
       font-size: 25px;
   }
   h2:hover{
    
    transform: none;
}

   .navbar ul li{
       font-size: 15px;
       margin-block-start: -5px; 
   }

   .navbar ul a li:hover{
    transform: none;
   }
    .project-card{
        width: 220px;
        height: 500px;
        
    }
.project-card:hover{
    transform: none;
}

.project-image{
    width: 150px;
    margin: 20px 40px;
}
h3{
    font-size: 15px;
}
hr{
    margin-block-start: -10px;
}
.footer-text{
 font-size: 11px;
}
footer{
    margin-block-start: -60px;
}
}


/* For small - medium devices   */

@media only screen and (min-width:350px) and (max-width:450px){

   .logo{
       font-size: 20px;
       margin-block-start: 1px;
   }
   span{
       font-size: 30px;
       margin-right: 10px;
   }
   h2{
       margin-top: 20px;
       font-size: 25px;
   }
   h2:hover{
    
    transform: none;
}

   .navbar ul li{
       font-size: 20px;
       margin-block-start: -5px; 
   }
   .project-card{
       width: 270px;
       height: 490px;
   }
   .project-image{
       width: 200px;
       margin: 20px 40px;
       
   }
    .project-card:hover{
        transform: none;
    }
    h3{
        font-size: 15px;
    }
    .footer-text{
        font-size: 15px;
    }
    footer{
    margin-block-start: -20px;
}
}

